$color-white: #ffffff;
$color-white-fix: #f0f1f1;
$color-white-tungsten: #f0f0f0;
$color-aqua: #e4fdf9;
$color-black: #000000;
$color-gray: #212121;
$color-gray-light: #393f48;
$color-gray-nickel: #bfbfbf;
$color-green: #00897b;
$color-purple: #3949ab;
$color-blue: #1da1f2;
$color-coral: #f21d4f;
$color-yellow: #f2bd1d;

$screen-size-xxl: 900px;
$screen-size-xl: 768px;
$screen-size-l: 640px;
$screen-size-m: 500px;
$screen-size-s: 400px;
$screen-size-xs: 372px;

